/* Cajas */

body {
    display: flex;
    justify-content: center;
}

.principalbox {
    width: 900px;
    margin: 40px;
}

header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

body {
    /*     padding: 20px 20px 0 20px;
 */
}

.header_center {
    width: 440px;
    height: 440px;
    background: #E16666;
}

.header_lateral {
    width: 210px;
    margin: 0px 20px;
}

.header_lateralSq {
    width: 100%;
    height: 210px;
    background: #E16666;
}

.textLeft {
    text-align: left;
}

.textRight {
    text-align: right;
}

.textCenter {
    text-align: center;
    padding-bottom: 20px;
}

.circles {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.line {
    height: 20px;
    background: #F60000;
    margin-bottom: 20px;
}

main {
    padding: 20px 20px 0 20px;
}

.circle {
    height: 210px;
    width: 210px;
    border-radius: 50%;
    background: #F60000;
}

.circles {
    display: flex;
    justify-content: space-between;
}

.circle2 {
    background: brown;
}